<!---------------------------------------------------- PIPES --------------------------------------------------------->
<!-- Links to follow --
a-https://angular.io/api?type=pipe
b-https://angular.io/api/common/DatePipe#pre-defined-format-options -->

<p>{{ currentDate | date: "short" }}</p>
<p>{{ currentDate | date: "mediumDate" }}</p>
<p>{{ currPipe | currency }}</p>
<p>{{ numPipe | number: "3.3-5" }}</p>

<!-------------------------------------------------- DIRECTIVES ------------------------------------------------------->
<!-- Links to follow --
a- https://angular.io/api?type=directive -->

<!--**************** ngClass ******************-->

<hr />
<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass }">
  ngClass
</button>

<!--**************** ngStyle ******************-->

<hr />
<button [ngStyle]="{ 'font-size.rem': fontSize }">ngStyle</button>
