<!---------------------------------------------------- PIPES --------------------------------------------------------->
<!-- Links to follow --
a-https://angular.io/api?type=pipe
b-https://angular.io/api/common/DatePipe#pre-defined-format-options -->

<p>{{ currentDate | date: "short" }}</p>
<p>{{ currentDate | date: "mediumDate" }}</p>
<p>{{ currPipe | currency }}</p>
<p>{{ numPipe | number: "3.3-5" }}</p>

<!-------------------------------------------------- DIRECTIVES ------------------------------------------------------->
<!-- Links to follow --
a- https://angular.io/api?type=directive -->

<!--**************** ngClass ******************-->

<hr />
<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass }">
  ngClass
</button>

<!--**************** ngStyle ******************-->

<hr />
<button [ngStyle]="{ 'font-size.rem': fontSize }">ngStyle</button>

<!--**************** ngIf ******************-->

<p *ngIf="blueClass; else elsePart">button is clickd Now (*ngIf Activated)</p>
<ng-template #elsePart>
  <p>Button is not clicked yet!</p>
</ng-template>

<!--**************** ngFor ******************-->

<p *ngFor="let con of Countries">
  {{ con.code }}
</p>
