<p>Root Component</p>
<!----------------------------------------- PARENT TO CHILD COMMUNICATION ------------------------------------------->
<!-- <app-binding (notify)="parentMethod($event)"></app-binding>
<p>{{ childToParentData }}</p> -->

<!----------------------------------------- CHILD TO PARENT COMMUNICATION ------------------------------------------->

<!-- <app-binding [uname]="username"></app-binding> -->

<!--------------------------------------------- PIPES (BUILT IN PIPES) ----------------------------------------------->
<app-binding></app-binding>
